<h1>Editing blockedsite</h1>

<%= render "form", blockedsite: @blockedsite %>

<br>

<div>
  <%= link_to "Show this blockedsite", @blockedsite %> |
  <%= link_to "Back to blockedsites", blockedsites_path %>
</div>
