/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::placeholder {
    color: #c1c1c1;
}
textarea{
    color: #666666;
    border: none;
    border-radius: 5px;
    text-align: left;
    margin-right: 25px;
    width: 360px;
    height: 35px;
}
.size{
    background: #F8F8F8;
    border: none;
    text-align: center;
    border-radius: 5px;
    color: #E8E8E8;
    width: 65px;
}

.dark-fields{
    background:black;
    color: white;
    ::placeholder {
        color: white;
    }

.form-link{
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 60px
}
}

